body {
  background-color: #F5F5DC;
}

.bg-color-1 {
  background-color: #004225;
}

.bg-color-2 {
  background-color: #F5F5DC;
}

.bg-color-3 {
  background-color: #FFB000;
}

.bg-color-4 {
  background-color: #FFCF9D;
}

.text-color-1 {
  color: #004225;
}

.text-color-2 {
  color: #F5F5DC;
}

.text-color-3 {
  color: #FFB000;
}

.text-color-4 {
  color: #FFCF9D;
}


.compact-nav{
  transition: .4s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
